# Only ignore untracked files on submodules where it's actually necessary.
# Add this to those repos: ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/change-color-scheme"]
	path = bundle/change-color-scheme
	url = https://github.com/vim-scripts/changeColorScheme.vim.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vala"]
	path = bundle/vala
	url = https://github.com/DasIch/vim-vala.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
	ignore = untracked
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "bundle/gruvbox.git"]
	path = bundle/gruvbox.git
	url = https://github.com/morhetz/gruvbox.git
